## VISUAL STUDIO
# Cache / Options Visual Studio Category
.vs/

# Build Results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# More Build Results
/Troghol/[Dd]ebug/
/Troghol/[Rr]elease/
/Troghol/x64/
/Troghol/x86/


## CPP_NPP_CLANG_ENVIROMENT

# Environmental stuff.
/build/

# Personal stuff.
.ninja/secret.ninja
.obsidian/

*.zip
*.exe
*.npp
*.ninja_log
